@model List<OgrenciNotMVC.Models.Entity.TBLNOTLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>NOT ID</th>
        <th>DERS</th>
        <th>ÖĞRENCİ</th>
        <th>SINAV1</th>
        <th>SINAV2</th>
        <th>SINAV3</th>
        <th>PROJE</th>
        <th>ORTALAMA</th>
        <th>DURUM</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NOTID</td>
            <td>@item.TBLDERSLER.DERSAD</td>
            <td>@item.TBLOGRENCILER.OGRAD @item.TBLOGRENCILER.OGRSOYAD</td>
            <td>@item.SINAV1</td>
            <td>@item.SINAV2</td>
            <td>@item.SINAV3</td>
            <td>@item.PROJE</td>
            <td>@item.ORTALAMA</td>
            @if (@item.DURUM == true)
            {
                <td>Ders Geçer</td>
            }
            @if (@item.DURUM == false)
            {
                <td>Ders Kalır</td>
            }
            @*<td>@item.DURUM</td>*@
            <td><a href="/Notlar/NotGuncelle/@item.NOTID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Notlar/YeniNot/" class="btn btn-success">Yeni Not Girişi</a>