@model UrunTakipMVC.Models.Entity.Musteriler
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <form method="post">
        <label>Müşteri Ad</label>
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control", @style = "width: 40%" })
        @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color: red" })
        <br />
        <label>Müşteri Soyad</label>
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control", @style = "width: 40%" })
        @Html.ValidationMessageFor(x => x.Soyad, "", new { @style = "color: red" })
        <br />
        <label>Müşteri Şehir</label>
        @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control", @style = "width: 40%" })
        <br />
        <label>Müşteri Bakiye</label>
        @Html.TextBoxFor(x => x.Bakiye, new { @class = "form-control", @style = "width: 40%" })
        <button class="btn btn-success" style="margin-top: 10px">Müşteri Ekle</button>
    </form>
</div>
