@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<UrunTakipMVC.Models.Entity.Satislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün</th>
            <th>İlgili Personel</th>
            <th>Müşteri</th>
            <th>Fiyat</th>
            <th>Tarih</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Urunler.Ad</td>
                <td>@item.Personeller.Ad @item.Personeller.Soyad</td>
                <td>@item.Musteriler.Ad @item.Musteriler.Soyad</td>
                <td>@item.Fiyat</td>
                <td>@item.Tarih</td>
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
    <a href="/Satis/SatisEkle/" class="btn btn-primary">Satış Ekle</a>
</div>